*.mot
*.hex
*.s3
*.s19
*.elf
*.map
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
m_*
*.out
*.lst
*.dbo
*.o
.cproject
.project
.settings

